@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@500&family=Montserrat:wght@400;600;700;800;900&display=swap');
*{
    font-family: 'Anek Latin', sans-serif;
    font-family: 'Montserrat', sans-serif;
}


































/* ======================================================================================================================================= */
.App {
  text-align: center;
}

.underHeader{
  width: 100%;
  display: flex;
  flex-direction: row;
}

/* ======================================================================================================================================= */
/*=================== HEADER============================================================================================================== */
header{
  background-color: #831f00;
  width: 100%;
}

nav{
  margin: auto;
  width: 1200px;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

p{
  margin: 1rem;
  font-weight: 700;
  font-size: 40px;
  color: white;
  display: inline-block;
  height: min-content;
  text-align: center;
}

ul{
  list-style-type: none;
  text-decoration: none;
  padding: 0;
}

ul li{
  font-size: 24px;
  color: #c0bdbd;
  display: inline-block;
  width: max-content;
  padding: 1rem;
  transition: 0.3s;
}
ul li:hover{
  text-decoration: underline;
  color: white;
  font-size: 28px;
  padding: 0rem 1rem;
}

/* ======================================================================================================================================= */

.filter{
  width: 20%;
  background-color: #c75e3c;
  padding: 2rem 1rem;
  text-align: left;
}

.filter p:nth-child(1){
  text-align: left;

  font-size: 40px;
  font-weight: 500;
  text-decoration: underline;
  display: block;
}


.filter p{
  text-align: left;

  font-size: 24px;
  font-weight: 500;
  display: block;
}

.filter p input{
  width: 70px;
  display: inline-block;
  text-align: center;
  font-size: 24px;
  margin-left: 1rem;
}



/* ======================================================================================================================================= */



.mainContainer{
  background-color: #b49c48;
  height: calc(100vh - 190px);
  padding: 2rem 4rem;
  width: 80%;
}

.nameOfTheCity{
  font-size: 40px;
  border: 0px;
  border-radius: 50px;
  width: calc(100% - 4rem);
  padding: 1rem 2rem;
}

.newDeals{
  margin-top: 2rem;
  background-color: #252525;
  padding: 2rem;
  border-radius: 40px;
  width: calc(100% - 4rem);
  text-align: left;
}

.newDeals p{
  margin: 0;
}

.card{
  width: 280px;
  height: 360px;
  margin-top: 2rem;
  background-color: #fff;
  border-radius: 30px;
}